
li {
  font-weight: 300;
}

.aboutGrid {
  overflow: scroll;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  grid-template-rows: 110px auto;
  grid-template-areas:
    "about ."
    "about lists";
  width: 100vw;
  padding:0px;
}

.about {
  grid-area: about;
  text-align: left;
  margin: 20px 20px;
}

.skills {
  grid-area: lists;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 35px 1fr 35px 1fr;
  grid-template-areas:
    "headerOne headerOne"
    "techOne techTwo"
    "headerTwo headerTwo"
    "skills skills";
}

.tOne {
  grid-area: headerOne;
}

.lOne {
  grid-area: techOne;
}

.lTwo {
  grid-area: techTwo
}

.tTwo {
  grid-area: headerTwo;
}

.lThree {
  grid-area: skills;
}

.lTitle {
  align-self: center;
  font-weight: normal;
  text-align: left;
  font-weight: bolder;
  padding-left: 23px;
}

.list {
  padding: 0 10px 0 23px;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .aboutGrid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "about"
      "lists";
    padding-bottom: 12vh;
  }

  .skills {
  justify-self: center;
  }
}
