header {
  background-color: #ECF0F3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:15vh 10vh;
  grid-template-areas:
    "top"
    "btm"
}

.topBar {
  background-color: #faebf1;
  grid-area: top;
  height: 15vh;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    ". photo"
    "name photo"
}

.name {
  grid-area: name;
  font-size: 4.5vw;
  font-weight: 300;
  margin-bottom: .5vh;
  cursor: default;
}

.headShot {
  grid-area: photo;
  justify-self: center;
  height: 25vh;
  max-height: 280px;
  object-fit: contain;
  max-width: 280px;
  margin-top: 5vh;
  border: 7.5px solid #FDF6F9;
  border-radius: 7.5px;
  box-shadow:
    10px 10px 15px 0 #D1D9E6,
    -10px -10px 15px 0 #FDF6F9;
}

.btmbox {
  grid-area: btm;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "navigation ."
    ". ."
}

.links {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.navBtn {
  width: 100px;
  height: 33px;
  text-align: center;
  padding-top: 5px;
  box-shadow:
    inset 0px 0px 0px 0 #FDF6F9,
    inset 0px 0px 0px 0 #D1D9E6,
    3px 3px 3px 0 #D1D9E6,
    -3px -3px 3px 0 #FDF6F9;
  border-radius: 0 0 15px 15px;
  background-color: #ECF0F3;
  font-size: 17px;
  transition: .1s linear 0s;
}


.selected, .navBtn:hover {
  font-size: 15px;
  box-shadow:
    inset 5px 5px 5px 0 #D1D9E6,
    inset -5px -5px 5px 0 #FDF6F9,
    0px 0px 0px 0 #FDF6F9,
    0px 0px 0px 0 #D1D9E6;
}
